body{
    background-color: #121212;
}
.secondarytitle{
    color: #28a745;
} 
.secbordes{
    border-top: 2px solid white;
    border-bottom: 2px solid white;
}
.textfondo{
    color: #ffffff;
}
.textpie{
    color: gray;
}
.valores{
    width: 100px;
}
.logo img{
    width: 10%;
}
.logofooter{
    width: 50%;
}
.fondonav{
    background-color: #D9D9D9;
}
.linkdefault:hover{
  text-decoration: underline;
  text-underline-offset: 4px;
}
